@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.help-degree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrap {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__heading {
    color: #000;
    font-weight: 600;
    font-size: 3rem;
    padding: 2rem;

    &--2 {
      font-size: 1.8rem;
      color: #000;
      font-weight: 600;
      margin: 0;
      padding-bottom: 1rem;
    }

    &--box {
      width: 100%;
      padding: 1.5rem;
      text-align: left;
    }
  }

  &__form {
    &--wrap {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__dropdown {
    padding: 0.5rem 2rem;
    border: 1px solid #6aa965;
  }
  &__btn {
    padding: 0.5rem 2rem;
    border: 1px solid #e76969;
    background-color: #fff;
    color: #e76969;

    &--box {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
