@import "./typography";

$tablet-width: 768px;
$desktop-width: 1280px;

$color-black: #303030;
$color-white: #FFFFFF;
$color-blue: #0033FF;
$color-green: #67E8B3;
$color-yellow: #FECD01;
$color-red: #FFA2A0;

$title-typeface: "Barlow Semi Condensed", sans-serif;