@import "./typography";

$tablet-width: 768px;
$desktop-width: 1280px;

$color-black: #303030;
$color-white: #ffffff;
$color-blue: #0033ff;
$color-green: #67e8b3;
$color-yellow: #fecd01;
$color-red: #ffa2a0;

$title-typeface: "Barlow Semi Condensed", sans-serif;
